<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Show</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
    <div id="wrapper">
        <div id="container">
            <div id="header"></div>
            <div id="content">
                <div class="xlg_col">
                    <div class="nav">
                        <h1>Add a show </h1>
                        <div>
                            <a href="/shows">TV Shows </a> | 
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <form action="/shows/add" method="POST">
                        <fieldset class="form">
                            <legend>Add show:</legend>
                            <input type="hidden" name="created_by_id" value="{{session['user_id']}}">
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title">
                            <br>
                            <label for="network">Network:</label>
                            <input type="text" name="network" id="network">
                            <br>
                            <label for="release_date">Release Date:</label>
                            <input type="date" name="release_date" id="release_date">
                            <br>
                            <label for="description">Description:</label>
                            <br>
                            <textarea name="description" id="description" cols="80" rows="10"></textarea>
                            <br>
                            <input class="submit" type="submit" value="Add">
                            {% with messages = get_flashed_messages(category_filter=["add"]) %}
                            {% if messages %}
                            {% for message in messages %}
                            <p class="error">{{message}}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
</body>

</html>